.btn {
	width: 120px;
	height: 50px;
	border-radius: 10%;
	box-shadow: 0px 3px 22px -1px #535553;
	display:grid;
	align-items: center;
	cursor:pointer;
	font-size: 25px;
	font-family:Verdana;
	text-decoration:none;
    border-style: none;
    background-color:#000000;
	color:rgb(255, 255, 255);
}
.btn_active{
	background-color:#ffffff;
	color:rgb(0, 0, 0);
}



.btn:hover {
	background-color:#ffffff;
    color: #000000;
}




.btn_select{
	position: absolute;
	right: 70px;
	top: 80px;
}

.btn_select:focus{
	outline: none;
}

.backBtn{
	background-color: rgb(255, 83, 83);
	color:white;
	/* margin: 5px; */
	width: 30px;
	height: 30px;
	border-radius: 100%;	
	border-style: none;
}

.backBtn:hover{
	background-color: rgb(255, 0, 0) ;
}

.calcbtn{
	position: absolute;
	right: 3vw;
	bottom: 10vh;
}

.ansbtn{
	position: absolute;
	right: 3vw;
	bottom: 3vh;

}


.fileBtn{
	position: absolute;
	right: 3vw;
	bottom: 17vh;
}

.cameraBtn{
	position: absolute;
	right: 3vw;
	bottom: 24vh;
}