.drawTool{
    position: absolute;
    top: 0px;
    left :0px;
}
.eraser{
    position: absolute;
    top:0;
    left: 0;
}

.pen{
    position: absolute;
    top:60px;
    left: 0;
}
